.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* füllt komplett, überstehendes wird abgeschnitten */
    z-index: -1; /* damit es hinter allen anderen Elementen bleibt */
    pointer-events: none; /* verhindert, dass das Bild Mausklicks blockiert */
}


