body{
    margin: 0;
    background-color: #88b7fd;
    font-family: 'Schoolbell', sans-serif, Arial;
}

.grid{
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 10px;
}

.left{
    flex: 1;
    padding: 5px;
    border: 2px solid #000000;
    background-color: #FCD34D;
    border-radius: 20px;
    max-height: 100%;
}


.button-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    margin-top: 20px;
    gap: 20px;
}

.button-style {
    background-color: #EF4444;
    border: 2px solid #000000;
    color: #e6e6e6;
    height: 2.5rem;
    text-align: center;
    font-family: 'Schoolbell', cursive;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-style:hover {
    transform: scale(1.05);
    /*background-color: #f17171;*/
    box-shadow: 0 4px 10px #da627d;
}
.button-style:active {
    transform: scale(0.95);
}
.disabled{
    pointer-events: none;
    background-color: gray;
}

.level{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.level-bar {
    border: 2px solid #000000;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #2f0572;
    border-radius: 10px;
    height: 20px;
    width: 80%;
}

.level-bar-fill {
    height: 20px;
    background-color: #EF4444;
    border-radius: 10px;
}

.exclamation{
    display: none;
    width: 60px;
    height: 75px;
}